.desc{
    position: relative;
    background: darkred;
    text-align: center;
    padding: 100px;
}

.desc h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.desc p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.modalRedRectangular{
    background-color: darkred;
    color: white;
    padding: 5px;
  }