.desc{
    position: relative;
    background: linear-gradient(#b7b6bb, darkred);
    text-align: center;
    padding: 100px;
    margin: 0.5px 20px;
    z-index: -1;
    border: 3px solid #b7b6bb;
    /* box-shadow: 10px 5px 5px #b7b6bb; */
}

.desc h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.desc p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.modalRedRectangular{
    background-color: darkred;
    color: white;
    padding: 5px;
  }